/TrabajoIntegradorProgramacionII/nbproject/private/
/TrabajoIntegradorProgramacionII/build/
/TPI-Programacion-2/nbproject/private/
/desktop.ini
/TPI-Programacion-2/dist/

# Archivos de configuración con datos sensibles
config/database.properties
config/application*.properties
*.properties

# Excepto el archivo de ejemplo
!config/database.properties.example